<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"><meta>
    <title>网点管理</title>
    <link rel="stylesheet" href="plugins/layui/css/layui.css" media="all">
    <script src="plugins/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!--<script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->
</head>
<body>

<div class="demoTable" style="margin: 5px;line-height: 50px;" shiro:hasPermission="user:update">
    <button class="layui-btn add" lay-event="add">添加网点</button>
</div>

<script type="employeeInfo/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<table id="priceInfo" lay-filter="device"></table>

<script>
    layui.use('table', function () {
        var table = layui.table, form = layui.form;

        var index = layer.load(2);
        //第一个实例
        table.render({
            elem: '#priceInfo'
            ,checkbox: true
            ,loading: true
            ,url: '/lf/priceInfo/selectAll?shUserID=雷风'
            ,height: $(document).height() - $('#priceInfo').offset().top - 20
            ,page: true
            ,limits: [10, 20, 30,50,100]
            ,limit: 20
            ,cellMinWidth: 35
            ,response:{
                statusName: 'code',
                msgName: 'msg' ,//状态信息的字段名称，默认：msg
                countName: 'count', //数据总数的字段名称，默认：count
                dataName: 'data' //数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                {fixed: 'left', type: 'checkbox'}
                , {field: 'shUserId', title: '所属商户',  fixed: 'left', sort: true}
                , {field: 'network', title: '网点名称',  sort: true, align: 'center'}
                , {field: 'power1250w', title: '小功率标准'}
                , {field: 'power2350w', title: '中功率标准'}
                , {field: 'power3600w', title: '大功率标准',  sort: true, align: 'center'}
                , {field: 'fees250w', title: '小功率充电时间',  sort: true, align: 'center'}
                , {field: 'fees350w', title: '中功率充电时间',  sort: true}
                , {field: 'fees600w', title: '大功率充电时间',  align: 'center'}
                , {field: 'feesDc', title: 'DC充电时间', align: 'center'}
                , {field: 'freeCharge', title: '免费网点',  align: 'center', templet: function(d){
                        if(d.freeCharge == 0){
                            return "否";
                        }else if(d.freeCharge == 1){
                            return "<span style=\"color: red;\">"+ "是" +"</span>";;
                        }else{
                            return "未知格式";
                        }
                    }}
                , {field: 'finishMinPower', title: '结束充电最小功率',  align: 'center'}
                , {field: 'finishTime', title: '浮充时间(分钟)'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center',width:'10%'}
            ]
            ],
            done: function (res) {
                layer.close(index);
            }
        });

        $('.add').on('click', function(){
            var index = layer.open({
                type: 2,
                title: "添加网点信息",
                area: ['35%', '70%'],
                fix: false,
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                // skin: 'layui-layer-rim',
                content: 'priceInfoAdd.html',
                success: function(layero, index){
                },
            });
        });


         //工具条
        table.on('tool(device)', function (obj) {

            switch (obj.event) {
                case 'edit':
                    //$.cookie("priceInfo",JSON.stringify(obj.data));
                    //$.cookie("priceInfo");
                    var index = layer.open({
                        type: 2,
                        title: "修改网点信息",
                        area: ['40%', '70%'],
                        fix: false,
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.4,
                        content: 'priceinfoEdit.html',
                        success: function (layero, index) {
                            //编辑页面回显数据
                            var body = layer.getChildFrame('body', index);

                            body.find("#shUserId").append("<option value="+obj.data.shUserId+">"+obj.data.shUserId+"</option>");
                            body.find("#deviceProvinceAddress").append("<option value="+obj.data.deviceProvinceAddress+">"+obj.data.deviceProvinceAddress+"</option>");
                            body.find("#deviceCityAddress").append("<option value="+obj.data.deviceCityAddress+">"+obj.data.deviceCityAddress+"</option>");
                            body.find("#deviceAreaAddress").append("<option value="+obj.data.deviceAreaAddress+">"+obj.data.deviceAreaAddress+"</option>");
                            body.find("#id").val(obj.data.id);
                            body.find("#shUserId").val(obj.data.shUserId);
                            body.find("#network").val(obj.data.network);
                            body.find("#power1250w").val(obj.data.power1250w);
                            body.find("#power2350w").val(obj.data.power2350w);
                            body.find("#power3600w").val(obj.data.power3600w);
                            body.find("#fees250w").val(obj.data.fees250w);
                            body.find("#fees350w").val(obj.data.fees350w);
                            body.find("#fees600w").val(obj.data.fees600w);
                            body.find("#feesDc").val(obj.data.feesDc);
                            body.find("#finishMinPower").val(obj.data.finishMinPower);
                            body.find("#finishTime").val(obj.data.finishTime);
                            body.find("#deviceDetailAddress").val(obj.data.deviceDetailAddress);
                            body.find("#freeCharge").val(obj.data.freeCharge);
                        },
                        end: function () {
                            //layer.msg('操作成功');
                            // location = window.location;//刷新
                        }
                    });
                    break;
                case 'del':
                    layer.confirm('确定要删除该网点吗？', function (index) {
                        $.ajax({
                            url: '/lf/priceInfo/deleteById?id=' + obj.data.id,
                            type: "post",
                            success: function (suc) {
                                //obj.del();
                                layer.close(index);
                                layer.msg("删除成功！");
                                parent.location.reload();
                            },
                            error:function(){
                                layer.close(index);
                                parent.layer.msg("删除失败，请重试！")
                            }
                        });
                    });
                    break;
            }
        })
    });

</script>
</body>
</html>