<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leifeng.dao.PayorderMapper">
  <resultMap id="BaseResultMap" type="com.example.leifeng.models.Payorder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="fee_type" jdbcType="VARCHAR" property="feeType" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="spbill_create_ip" jdbcType="VARCHAR" property="spbillCreateIp" />
    <result column="time_start" jdbcType="VARCHAR" property="timeStart" />
    <result column="time_expire" jdbcType="VARCHAR" property="timeExpire" />
    <result column="goods_tag" jdbcType="VARCHAR" property="goodsTag" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="limit_pay" jdbcType="VARCHAR" property="limitPay" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="receipt" jdbcType="VARCHAR" property="receipt" />
    <result column="scene_info" jdbcType="VARCHAR" property="sceneInfo" />
    <result column="pay_success" jdbcType="VARCHAR" property="paySuccess" />
    <result column="control_start" jdbcType="VARCHAR" property="controlStart" />
    <result column="control_stop" jdbcType="VARCHAR" property="controlStop" />
    <result column="control_finish" jdbcType="VARCHAR" property="controlFinish" />
    <result column="refund" jdbcType="VARCHAR" property="refund" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="code_url" jdbcType="VARCHAR" property="codeUrl" />
    <result column="callbackData" jdbcType="VARCHAR" property="callbackdata" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="refund_fee" jdbcType="INTEGER" property="refundFee" />
    <result column="out_refund_no" jdbcType="VARCHAR" property="outRefundNo" />
    <result column="sh_code" jdbcType="VARCHAR" property="shCode" />
    <result column="dev_code" jdbcType="VARCHAR" property="devCode" />
    <result column="dev_type" jdbcType="VARCHAR" property="devType" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="sh_user_id" jdbcType="VARCHAR" property="shUserId" />
    <result column="transfer" jdbcType="VARCHAR" property="transfer" />
    <result column="chargeType" jdbcType="INTEGER" property="chargetype" />
    <result column="usedMoney" jdbcType="INTEGER" property="usedmoney" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="stop_code" jdbcType="VARCHAR" property="stopCode" />
    <result column="chargePower" jdbcType="INTEGER" property="chargepower" />
    <result column="userCountMoney" jdbcType="INTEGER" property="usercountmoney" />
    <result column="checkFlag" jdbcType="INTEGER" property="checkflag" />
    <result column="chargeCurrent" jdbcType="INTEGER" property="chargecurrent" />
    <result column="chargeState" jdbcType="INTEGER" property="chargestate" />
    <result column="chargePresetTime" jdbcType="INTEGER" property="chargepresettime" />
    <result column="chargeRemainingTime" jdbcType="INTEGER" property="chargeremainingtime" />
    <result column="scaleOfFees" jdbcType="INTEGER" property="scaleoffees" />
    <result column="haveChargeTime" jdbcType="INTEGER" property="havechargetime" />
    <result column="add_time_type" jdbcType="INTEGER" property="addTimeType" />
    <result column="SerialNo" jdbcType="VARCHAR" property="serialno" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nonce_str, sign, sign_type, body, detail, attach, out_trade_no, fee_type, total_fee,
    spbill_create_ip, time_start, time_expire, goods_tag, notify_url, trade_type, product_id,
    limit_pay, openid, receipt, scene_info, pay_success, control_start, control_stop,
    control_finish, refund, prepay_id, code_url, callbackData, transaction_id, refund_fee,
    out_refund_no, sh_code, dev_code, dev_type, device_info, date, time, sh_user_id,
    transfer, chargeType, usedMoney, pay_type, userid, stop_code, chargePower, userCountMoney,
    checkFlag, chargeCurrent, chargeState, chargePresetTime, chargeRemainingTime, scaleOfFees,
    haveChargeTime, add_time_type, SerialNo
  </sql>
  <select id="selectAll" resultType="map">
    SELECT PO.[id]
      ,[pay_success],[control_start],[control_stop]
      ,[transaction_id],[device_info]
      ,PO.[sh_user_id],DI.[network],PO.[usedMoney],[pay_type],PO.[userid],[stop_code],PO.[chargePower]
      ,[userCountMoney],PO.[chargePresetTime],PO.[chargeRemainingTime]
      ,PO.[scaleOfFees],PO.[haveChargeTime],PO.[chargeType]
      FROM [dbo].[PayOrder] PO LEFT JOIN [dbo].[DeviceInfo] DI ON PO.device_info = DI.deviceid
      WHERE PO.sh_user_id in (
      SELECT sh_user_id FROM UserInfo WHERE
    sh_superior_dealer_0=#{param3} OR sh_superior_dealer_1=#{param3} OR sh_superior_dealer_2=#{param3} OR sh_superior_dealer_3=#{param3}  OR sh_user_id=#{param3})
      ORDER BY PO.[id] Desc   offset #{param2}* #{param1} rows fetch next #{param2} rows only
  </select>
  <select id="countAll" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
      FROM [dbo].[PayOrder] PO LEFT JOIN [dbo].[DeviceInfo] DI ON PO.device_info = DI.deviceid
      WHERE PO.sh_user_id in (
      SELECT sh_user_id FROM UserInfo WHERE
    sh_superior_dealer_0=#{param1} OR sh_superior_dealer_1=#{param1} OR sh_superior_dealer_2=#{param1} OR sh_superior_dealer_3=#{param1}  OR sh_user_id=#{param1})
  </select>
</mapper>