<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leifeng.dao.PriceinfoMapper">
  <resultMap id="BaseResultMap" type="com.example.leifeng.models.Priceinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sh_code" jdbcType="INTEGER" property="shCode" />
    <result column="dev_type" jdbcType="INTEGER" property="devType" />
    <result column="sh_user_id" jdbcType="VARCHAR" property="shUserId" />
    <result column="network" jdbcType="VARCHAR" property="network" />
    <result column="finish_min_power" jdbcType="INTEGER" property="finishMinPower" />
    <result column="fees_250W" jdbcType="INTEGER" property="fees250w" />
    <result column="fees_350W" jdbcType="INTEGER" property="fees350w" />
    <result column="fees_600W" jdbcType="INTEGER" property="fees600w" />
    <result column="fees_dc" jdbcType="INTEGER" property="feesDc" />
    <result column="max_charge_time" jdbcType="INTEGER" property="maxChargeTime" />
    <result column="can_use" jdbcType="INTEGER" property="canUse" />
    <result column="paymoney_fen_pertime_notvip" jdbcType="INTEGER" property="paymoneyFenPertimeNotvip" />
    <result column="paymoney_fen_pertime_vip" jdbcType="INTEGER" property="paymoneyFenPertimeVip" />
    <result column="finish_time" jdbcType="INTEGER" property="finishTime" />
    <result column="giveup_time" jdbcType="INTEGER" property="giveupTime" />
    <result column="overload_power" jdbcType="INTEGER" property="overloadPower" />
    <result column="free_charge" jdbcType="INTEGER" property="freeCharge" />
    <result column="device_province_address" jdbcType="VARCHAR" property="deviceProvinceAddress" />
    <result column="device_city_address" jdbcType="VARCHAR" property="deviceCityAddress" />
    <result column="device_area_address" jdbcType="VARCHAR" property="deviceAreaAddress" />
    <result column="device_detail_address" jdbcType="VARCHAR" property="deviceDetailAddress" />
    <result column="max_charge_time_dc" jdbcType="INTEGER" property="maxChargeTimeDc" />
    <result column="power1_250W" jdbcType="INTEGER" property="power1250w" />
    <result column="power2_350W" jdbcType="INTEGER" property="power2350w" />
    <result column="power3_600W" jdbcType="INTEGER" property="power3600w" />
  </resultMap>
  <insert id="insert" parameterType="com.example.leifeng.models.Priceinfo">
    insert into PriceInfo (id, sh_code, dev_type,
      sh_user_id, network, finish_min_power,
      fees_250W, fees_350W, fees_600W,
      fees_dc, max_charge_time, can_use,
      paymoney_fen_pertime_notvip, paymoney_fen_pertime_vip,
      finish_time, giveup_time, overload_power,
      free_charge, device_province_address, device_city_address,
      device_area_address, device_detail_address,
      max_charge_time_dc, power1_250W, power2_350W,
      power3_600W)
    values (#{id,jdbcType=INTEGER}, #{shCode,jdbcType=INTEGER}, #{devType,jdbcType=INTEGER},
      #{shUserId,jdbcType=VARCHAR}, #{network,jdbcType=VARCHAR}, #{finishMinPower,jdbcType=INTEGER},
      #{fees250w,jdbcType=INTEGER}, #{fees350w,jdbcType=INTEGER}, #{fees600w,jdbcType=INTEGER},
      #{feesDc,jdbcType=INTEGER}, #{maxChargeTime,jdbcType=INTEGER}, #{canUse,jdbcType=INTEGER},
      #{paymoneyFenPertimeNotvip,jdbcType=INTEGER}, #{paymoneyFenPertimeVip,jdbcType=INTEGER},
      #{finishTime,jdbcType=INTEGER}, #{giveupTime,jdbcType=INTEGER}, #{overloadPower,jdbcType=INTEGER},
      #{freeCharge,jdbcType=INTEGER}, #{deviceProvinceAddress,jdbcType=VARCHAR}, #{deviceCityAddress,jdbcType=VARCHAR},
      #{deviceAreaAddress,jdbcType=VARCHAR}, #{deviceDetailAddress,jdbcType=VARCHAR},
      #{maxChargeTimeDc,jdbcType=INTEGER}, #{power1250w,jdbcType=INTEGER}, #{power2350w,jdbcType=INTEGER},
      #{power3600w,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.leifeng.models.Priceinfo">
    insert into PriceInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shCode != null">
        sh_code,
      </if>
      <if test="devType != null">
        dev_type,
      </if>
      <if test="shUserId != null">
        sh_user_id,
      </if>
      <if test="network != null">
        network,
      </if>
      <if test="finishMinPower != null">
        finish_min_power,
      </if>
      <if test="fees250w != null">
        fees_250W,
      </if>
      <if test="fees350w != null">
        fees_350W,
      </if>
      <if test="fees600w != null">
        fees_600W,
      </if>
      <if test="feesDc != null">
        fees_dc,
      </if>
      <if test="maxChargeTime != null">
        max_charge_time,
      </if>
      <if test="canUse != null">
        can_use,
      </if>
      <if test="paymoneyFenPertimeNotvip != null">
        paymoney_fen_pertime_notvip,
      </if>
      <if test="paymoneyFenPertimeVip != null">
        paymoney_fen_pertime_vip,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="giveupTime != null">
        giveup_time,
      </if>
      <if test="overloadPower != null">
        overload_power,
      </if>
      <if test="freeCharge != null">
        free_charge,
      </if>
      <if test="deviceProvinceAddress != null">
        device_province_address,
      </if>
      <if test="deviceCityAddress != null">
        device_city_address,
      </if>
      <if test="deviceAreaAddress != null">
        device_area_address,
      </if>
      <if test="deviceDetailAddress != null">
        device_detail_address,
      </if>
      <if test="maxChargeTimeDc != null">
        max_charge_time_dc,
      </if>
      <if test="power1250w != null">
        power1_250W,
      </if>
      <if test="power2350w != null">
        power2_350W,
      </if>
      <if test="power3600w != null">
        power3_600W,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shCode != null">
        #{shCode,jdbcType=INTEGER},
      </if>
      <if test="devType != null">
        #{devType,jdbcType=INTEGER},
      </if>
      <if test="shUserId != null">
        #{shUserId,jdbcType=VARCHAR},
      </if>
      <if test="network != null">
        #{network,jdbcType=VARCHAR},
      </if>
      <if test="finishMinPower != null">
        #{finishMinPower,jdbcType=INTEGER},
      </if>
      <if test="fees250w != null">
        #{fees250w,jdbcType=INTEGER},
      </if>
      <if test="fees350w != null">
        #{fees350w,jdbcType=INTEGER},
      </if>
      <if test="fees600w != null">
        #{fees600w,jdbcType=INTEGER},
      </if>
      <if test="feesDc != null">
        #{feesDc,jdbcType=INTEGER},
      </if>
      <if test="maxChargeTime != null">
        #{maxChargeTime,jdbcType=INTEGER},
      </if>
      <if test="canUse != null">
        #{canUse,jdbcType=INTEGER},
      </if>
      <if test="paymoneyFenPertimeNotvip != null">
        #{paymoneyFenPertimeNotvip,jdbcType=INTEGER},
      </if>
      <if test="paymoneyFenPertimeVip != null">
        #{paymoneyFenPertimeVip,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=INTEGER},
      </if>
      <if test="giveupTime != null">
        #{giveupTime,jdbcType=INTEGER},
      </if>
      <if test="overloadPower != null">
        #{overloadPower,jdbcType=INTEGER},
      </if>
      <if test="freeCharge != null">
        #{freeCharge,jdbcType=INTEGER},
      </if>
      <if test="deviceProvinceAddress != null">
        #{deviceProvinceAddress,jdbcType=VARCHAR},
      </if>
      <if test="deviceCityAddress != null">
        #{deviceCityAddress,jdbcType=VARCHAR},
      </if>
      <if test="deviceAreaAddress != null">
        #{deviceAreaAddress,jdbcType=VARCHAR},
      </if>
      <if test="deviceDetailAddress != null">
        #{deviceDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="maxChargeTimeDc != null">
        #{maxChargeTimeDc,jdbcType=INTEGER},
      </if>
      <if test="power1250w != null">
        #{power1250w,jdbcType=INTEGER},
      </if>
      <if test="power2350w != null">
        #{power2350w,jdbcType=INTEGER},
      </if>
      <if test="power3600w != null">
        #{power3600w,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>